#root > .containerHeader{
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, #f3eacb, #d3e8c6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;  
}
.containerHeader > .navHeader{
    width: 96%;
    height: 75px;
    background-color: black;
    display: flex; 
    align-items: center;
}
.navHeader > .containerItemsHeader{
    background-color: antiquewhite;
    width: 90%;
    height: 54px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 10px;
    align-items: center;
}
.containerItemsHeader > .containerLiHeader{
    width: 29%;
    height: 25px;
    background-color: aqua;
    
}
